body {
	background-color: floralwhite;
}
#heading {
	font-size: calc(20vw/4);
	color: white;
	font-weight: bolder;
}
#container {
	position: absolute;
	right: 10%;
	margin: auto;
	margin-top: 10vh;
	background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
	padding: 20px;
	border-radius: 10px;
	text-align: center;
	box-shadow: 0 0 18px 8px #ccc;
}
select {
	border-radius: 5px;
	color: black;
	background-color: white;
	width: 90%;
	height: 20%;
	border-color: black;
}
input {
	border-radius: 5px;
	width: 90%;
	height: 25%;
	padding: 5px;
	text-align: center;
	border-color: black;
}
#output{
	color: darkgreen;
	opacity: 0.5;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
#conv {
	background: goldenrod;
	width: 50%;
	border-radius: 10px;
	color: black;
	border-color: black;
}